# Default owners for all files in the repository.
# These users will be requested for review when a PR is opened.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @shiva-guntoju-09 @ujayant @urajat
